<li{% if page.title == 'Avatars' %} class="nav-tree-node-active"{% endif %}><a href="{{ site.baseurl }}components/avatars/">Avatars</a></li>
<li{% if page.title == 'Buttons' %} class="nav-tree-node-active"{% endif %}><a href="{{ site.baseurl }}components/buttons/">Buttons</a></li>
<li{% if page.title == 'Cards' %} class="nav-tree-node-active"{% endif %}><a href="{{ site.baseurl }}components/cards/">Cards</a></li>
<li{% if page.title == 'Dialogs' %} class="nav-tree-node-active"{% endif %}><a href="{{ site.baseurl }}components/dialogs/">Dialogs</a></li>
<li{% if page.title == 'Forms' %} class="nav-tree-node-active"{% endif %}><a href="{{ site.baseurl }}components/forms/">Forms</a></li>
<!-- <li{% if page.title == 'Labels' %} class="nav-tree-node-active"{% endif %}><a href="{{ site.baseurl }}components/labels/">Labels</a></li>
<li{% if page.title == 'Messages' %} class="nav-tree-node-active"{% endif %}><a href="{{ site.baseurl }}components/messages/">Messages</a></li> -->
<li{% if page.title == 'Navigation' %} class="nav-tree-node-active"{% endif %}><a href="{{ site.baseurl }}components/navigation/">Navigation</a></li>
<!-- <li{% if page.title == 'Progress indicators' %} class="nav-tree-node-active"{% endif %}><a href="{{ site.baseurl }}components/progress-indicators/">Progress indicators</a></li>
<li{% if page.title == 'Tables' %} class="nav-tree-node-active"{% endif %}><a href="{{ site.baseurl }}components/tables/">Tables</a></li> -->
<li{% if page.title == 'Tabs' %} class="nav-tree-node-active"{% endif %}><a href="{{ site.baseurl }}components/tabs/">Tabs</a></li>
<li{% if page.title == 'Tooltips' %} class="nav-tree-node-active"{% endif %}><a href="{{ site.baseurl }}components/tooltips/">Tooltips</a></li>
