    <div class="row">
      <div class="six-col">
        {% include folder.html %}
        {% include folder.html %}
        {% include folder.html %}
      </div>
      <div class="six-col">
        {% include folder.html %}
        {% include folder.html %}
      </div>
    </div>
  </div> <!-- .content-body -->

  <div class="content-sidebar-300">
    <img src="{{ site.baseurl }}images/sidebar-ads-300x600.png" alt="">
  </div>
  <div class="content-sidebar-160">
    <img src="{{ site.baseurl }}images/sidebar-ads-160x600.png" alt="">
  </div>
