/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: $gray-10;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Hurme Sans 2', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: $white;
    text-rendering: optimizeLegibility;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $gray-3;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */


/* Headings
 ------------------------- */

h1, h2, h3, h4,
.h1, .h2, .h3, .h4 {
 font-weight: 600;
 color: $gray-black;
}

h1, .h1,
h2, .h2,
h3, .h3 {
 margin-top: 32px;
 margin-bottom: 16px;
}
h4, .h4 {
 margin-top: 16px;
 margin-bottom: 16px;
}

h1:first-child, .h1:first-child,
h2:first-child, .h2:first-child,
h3:first-child, .h3:first-child,
h4:first-child, .h4:first-child {
  margin-top: 0;
}

h1, .h1 {
 font-size: 32px;
 line-height: 40px;
}

h2, .h2 {
 font-size: 24px;
 line-height: 32px;
}
h3, .h3 {
 font-size: 20px;
 line-height: 28px;
}
h4, .h4 {
 font-size: 16px;
 line-height: 24px;
 letter-spacing: -0.2px;
}

a,
a:visited {
  color: $navy;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.logo {
  margin: 0 0 24px 0;
  width: 95px;
  height: 21px;
}

.logo > a,
.logo > a:hover,
.logo > a:visited {
  text-decoration: none;
}

.hr {
  background: $gray-3;
  width: 50px;
  height: 2px;
  display: block;
  margin: 24px auto;
}


/* Body text
 ------------------------- */

p {
 margin: 0 0 24px;
}


/* Emphasis & misc
 ------------------------- */

small,
.small {
 font-size: 14px;
 line-height: 18px;
}

/* Alignment */

.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }

/* Transformation */

.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }

/* Contextual colors */
.text-muted {
 color: $gray-4;
}

/* Lists
 ------------------------- */

/* Unordered and Ordered lists */

ul,
ol {
  margin: 0 0 24px;
  ul,
  ol {
   margin-bottom: 0;
  }
}


/* Images */

img {
  max-width: 100%;
}


/* Lists */

li {
  list-style: none;
}


/* =================================================
  Tables */

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 32px;
}
thead {
  border-bottom: 2px solid $gray-3;
}
tr {
  border-bottom: 1px solid $gray-3;
}
td,
th {
  border: none;
  padding: 12px 8px;
  text-align: left;
}
th {
  vertical-align: top;
}
td:first-child,
th:first-child {
  padding-left: 0;
}
td:last-child,
th:last-child {
  padding-right: 0;
}



/* =================================================
  Layout and structure */

:root {
  --margin: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

app {
  display: flex;
  flex-direction: row;
  margin: 0;
}

#sidebar {
  order: 1;
  flex-grow: 0;
  width: 260px;
  background-color: $gray-xtra-light;
}

#main {
  order: 2;
  flex: 1;
}

#sidebar, #main {
  height: 100vh;
  padding: 32px;
}

.page-header {
  display: flex;
  flex-wrap: wrap;
  height: 32px;
  margin-bottom: 24px;
}

.header-left {
  flex: 1;
}

.header-right {
  flex: 0;
}


ul.main-nav {
}

.nav-item {
  margin: 0;
  padding: 6px 16px;
  border-radius: 4px;
  cursor: pointer;
  color: $gray-med-dark;
  font-weight: 500;

  &:hover {
    background-color: $light-navy;
    color: $dark-navy;
  }
}



/* Cards */

.card-container {
  display: flex;
  flex-wrap: row;
  justify-content: space-between;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0,0,0,.07);
  color: $gray-10;
  height: 160px;
  padding: 24px;
  text-align: left;
  transition: all 200ms cubic-bezier(.02, .01, .47, 1);
  width: calc((100%/3) - (var(--margin)* 3));
  min-width: 240px;
  z-index: 1;
}

.card:hover {
  box-shadow: 0 8px 20px rgba(0,0,0,.12);
  transform: translate(0,-3px);
  transition-delay: 0s !important;
}

.card-top {
  height: 180px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  background: #f5f5f5;
}

.card-body {
  position: relative;
  clear: both;
  float: left;
  overflow: visible;
  padding: 20px;
}

.card-title {
  font-size: 20px;
  font-weight: 500px;
  margin-bottom: 10px;
}

.card-description {
  color: #8b939b;
  font-size: 14px;
}

/* ==========================================================================
   Buttons
   ========================================================================== */

a.btn {
  font-weight: 500;
  line-height: 20px;
  padding: 7px 10px;
  background: $white;
  border: 1px solid;
  border-color: $gray-border;
  border-radius: 4px;
  color: $gray-med-dark;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
}

a.btn-standard {

  &:hover {
    background-color: $white;
    border-color: $gray-medium;
    color: $gray-med-dark;
    text-decoration: none;
  }
}

a.btn-primary {
  background: $light-navy;
  border-color: $light-navy;
  color: $dark-navy;

  &:hover {
    background: $light-navy;
    border-color: $light-navy;
  }
}

a.btn-teal {
  background: $light-teal;
  border-color: $light-teal;
  color: $dark-teal;

  &:hover {
    background: $light-teal;
    border-color: $light-teal;
  }
}

.btn-link {
  color: $navy;
  background: rgba(255,255,255,0);
  border-color: rgba(255,255,255,0);

  &:hover {
    background: $gray-1;
    color: $navy;
  }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
