/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: var(--gray-granite-color);
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Hurme Sans 2', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: var(--app-background);
    text-rendering: optimizeLegibility;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--gray-stone-color);
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */


/* Headings
 ------------------------- */

h1, h2, h3, h4,
.h1, .h2, .h3, .h4 {
 font-weight: 600;
 color: var(--gray-granite-color);
}

h1, .h1,
h2, .h2,
h3, .h3 {
 margin-top: 32px;
 margin-bottom: 16px;
}
h4, .h4 {
 margin-top: 16px;
 margin-bottom: 16px;
}

h1:first-child, .h1:first-child,
h2:first-child, .h2:first-child,
h3:first-child, .h3:first-child,
h4:first-child, .h4:first-child {
  margin-top: 0;
}

h1, .h1 {
 font-size: 44px;
 line-height: 56px;
}
h2, .h2 {
 font-size: 32px;
 line-height: 40px;
}
h3, .h3 {
 font-size: 24px;
 line-height: 32px;
}
h4, .h4 {
 font-size: 20px;
 line-height: 28px;
}
h5, .h5 {
 font-size: 14px;
 line-height: 20px;
}

a,
a:visited {
  color: var(--blue-jay-color);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.logo {
  width: 95px;
  height: 21px;
  margin-top: -6px;
  fill: var(--logo-color);
}

.logo > a,
.logo > a:hover,
.logo > a:visited {
  text-decoration: none;
}

.mobile-logo {
  display: none;
}

.hr {
  background: var(--gray-stone-color);
  width: 50px;
  height: 2px;
  display: block;
  margin: 24px auto;
}


/* Body text
 ------------------------- */

p {
 margin: 0 0 24px;
}


/* Emphasis & misc
 ------------------------- */

small,
.small {
 font-size: 14px;
 line-height: 18px;
}

/* Alignment */

.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }

/* Transformation */

.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }

/* Contextual colors */
.text-muted {
 color: var(--gray-smoke-color);
}

/* Lists
 ------------------------- */

/* Unordered and Ordered lists */

ul,
ol {
  margin: 0 0 24px;
  ul,
  ol {
   margin-bottom: 0;
  }
}


/* Images */

img {
  max-width: 100%;
}


/* Lists */

li {
  list-style: none;
}


/* =================================================
  Tables */

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 32px;
}
thead {
  border-bottom: 2px solid var(--gray-stone-color);
}
tr {
  border-bottom: 1px solid var(--gray-stone-color);
}
td,
th {
  border: none;
  padding: 12px 8px;
  text-align: left;
}
th {
  vertical-align: top;
}
td:first-child,
th:first-child {
  padding-left: 0;
}
td:last-child,
th:last-child {
  padding-right: 0;
}



/* ==========================================================================
   App structure and layout
   ========================================================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

app {
  display: flex;
  flex-direction: row;
  margin: 0;
  align-items: flex-start;
}

#header {
  order: 1;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 64px;
  padding: 16px 32px;
  background: var(--header-background-color);
  box-shadow: 0px 0px 16px 4px rgba(0,0,0,0.08);
  position: fixed;
  z-index: 1000;
}

#main {
  order: 2;
  position: relative;
  align-items: center;
  flex: 1 1 auto;
}

.main-container {
  width: 85%;
  margin: 112px auto 48px auto;
}

.content-wrapper {
  display: flex;
}

.content-body {
  display: flex;
  flex-direction: column;
  flex-grow: wrap;
  flex: 1;
}


.nav-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-right > a.button {
  margin-right: 8px;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo > a {
  order: 1;
  flex-grow: 0;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-left: 32px;
}

.nav-node {
  padding: 0 12px;
  border-radius: 32px;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  line-height: 31px;
  margin-right: 8px;
  color: var(--gray-slate-color);
}

.nav-node:visited {
  color: var(--gray-slate-color);
}

.nav-node:hover {
  text-decoration: none;
  background-color: var(--gray-chalk-color);
  color: var(--gray-granite-color);
}


.nav-node.nav-active {
  background-color: var(--nav-selected-background);
  color: var(--blue-jay-color);

  &:hover {
    text-decoration: none;
    background-color: var(--nav-selected-background);
  }
}

.nav-nightmode {
  order: 0;
  flex-grow: 0;
  height: 24px;
  width: 24px;
  margin-right: 16px;
  background-size: contain;
  cursor: pointer;
}

.nav-nightmode-img {
  height: 24px;
  width: 24px;
  background-image: url('../images/icons/icon-20-night-mode.png');
  background-size: contain;
  cursor: pointer;

  &:hover {
    background-image: url('../images/icons/icon-20-night-mode-on.png');
  }
}

input:checked + .nav-nightmode-img  {
  height: 24px;
  width: 24px;
  background-image: url('../images/icons/icon-20-night-mode-on.png');
  background-size: contain;
  cursor: pointer;
}

.nav-notification {
  order: 3;
  flex-grow: 0;
  height: 24px;
  width: 24px;
  background-image: url('../images/icons/icon-20-notification.png');
  background-size: contain;
  margin-left: 12px;
  margin-right: 8px;
  cursor: pointer;

  &:hover {
    background-image: url('../images/icons/icon-20-notification-on.png');
  }
}


.mobile-nav-title {
  display: none;
}


.page-header {
  display: flex;
}

.header-left {
  order: 1;
  flex: 1;
}

.header-right {
  order: 2;
  align-items: flex-end;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.buttons > .btn {
  margin-left: 16px;
}


/* ==========================================================================
   Tabs
   ========================================================================== */

.tabs {
  border-bottom: 2px solid var(--gray-stone-color);
  height: 40px;
  margin-bottom: 24px;
}

.tabs > .tab-item {
  display: inline-flex;
  align-items: center;
  color: var(--tab-item-color);
  font-weight: 500;
  margin-right: 24px;
  font-size: 14px;
  transition: all 150ms;
}

.tabs > .tab-item:hover {
  color: var(--gray-granite-color);
}

.tabs > .active {
  color: var(--blue-jay-color);
  border-bottom: 2px solid var(--blue-jay-color);
  height: 40px;
}

.tabs > .active.tab-item:hover {
  color: var(--blue-jay-color);
}



/* ==========================================================================
   Study cards
   ========================================================================== */


.card {
  flex: 1;
  background-color: var(--card-background-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,.15);
  color: var(--gray-granite-color);
  min-width: 300px;
  height: 128px;
  text-align: left;
  transition: all 200ms cubic-bezier(.02, .01, .47, 1);
  padding: 16px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  z-index: 1;
  cursor: pointer;
}

.card .folder {
  height: 96px;
}

.card:hover {
  box-shadow: 0 8px 20px rgba(0,0,0,.12);
  transform: translate(0,-1px);
  transition-delay: 0s !important;
}

.card-body {
  order: 1;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-content: space-between;
}

.card-title {
  order: 1;
  flex-grow: 1;
}

.card-title > h4 {
  font-weight: 600;
  margin-bottom: 0;
  color: var(--gray-granite-color);
  text-overflow: ellipsis;
  max-width: 256px;
  overflow: hidden;
  white-space: nowrap;
}

.card-title > h5 {
  font-weight: 500;
  color: var(--card-meta-data);
}

.card-author {
  order: 2;
  flex-grow: 0;
  align-content: flex-end;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-avatar {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  margin-right: 8px;
  background: var(--placeholder-images);
}

.card-author-name {
  font-size: 13px;
  line-height: 24px;
  color: var(--card-meta-data);
  font-weight: 500;
}

.card-verified {
  height: 16px;
  width: 16px;
  background-image: url('../images/icons/icon-verified.png');
  background-size: contain;
  margin-left: 8px;
}

.card-image {
  order: 2;
  flex-grow: 0;
  height: 64px;
  width: 64px;
  border-radius: 8px;
  background: var(--placeholder-images);
  margin: 0;
}

.card-meta {
  order: 3;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
}

.card-last-studied > h5,
.card-progress > h5 {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--card-meta-data);
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
}

.card-last-studied > p,
.card-progress > p {
  color: var(--gray-granite-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}


#card-overlay {
  background: rgba(255,255,255,0.98);
  position: absolute;
  display: flex;
  flex-direction: column;
  visibility: visible;
  width: 452px;
  height: 96px;
}

#card-overlay.visible {
  visibility: visible;
}

#card-overlay.hidden {
  visibility: hidden;
}

.card-overlay-actions {
  order: 1;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.card-overlay-actions > img {
  width: 24px;
  height: 24px;
  margin-left: 8px;
}

.card-overlay-buttons {
  order: 2;
  flex-grow: 0;
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-overlay-buttons > .button {
  margin: 0 4px;
}



/* ==========================================================================
   Smart cards (with posters)
   ========================================================================== */

.card-container {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}

.smart-card {
  background-color: var(--white-color);
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0,0,0,.08);
  color: var(--gray-granite-color);
  transition: all 200ms cubic-bezier(.02, .01, .47, 1);
  padding: 16px;
  margin-bottom: 16px;
  cursor: pointer;
}

.smart-card:hover {
  box-shadow: 0 8px 20px rgba(0,0,0,.12);
  transform: translate(0,-3px);
  transition-delay: 0s !important;
}

.smart-card-top {
  height: 160px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.smart-card-cover {
  height: 280px;
  width: 295px;
  padding: 0px;
}

.smart-card-body {
  padding: 16px;
  position: relative;
  clear: both;
  float: left;
  overflow: visible;
}

.smart-card-title {
  font-size: 16px;
  font-weight: 500;
  color: var(--gray-granite-color);
  margin-bottom: 8px;
}

.smart-card-description {
  color: var(--gray-slate-color);
  font-size: 14px;
}

.smart-card-set-1 {
  background: var(--teal-color) url('../images/covers/card-smart-set-1.png') center bottom no-repeat;
  background-size: 295px;
}

.smart-card-set-2 {
  background: #FF9180 url('../images/covers/card-smart-set-2.png') center bottom no-repeat;
  background-size: 295px;
}


/* ==========================================================================
   Content sidebar
   ========================================================================== */


.content-sidebar-300 {
 margin: 8px 0 0 64px;
 width: 300px;
}

.content-sidebar-160 {
 display: none;
}



/* ==========================================================================
   Blank states
   ========================================================================== */

.empty-state-banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.banner-top {
  background-color: var(--dark-purple-color);
  color: var(--white-color);
  margin-top: 48px;
  padding: 12px 24px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.banner-top > h4,
.banner-top > p {
  color: var(--white-color);
  margin-bottom: 0;
}

.banner-top > h4 {
  font-size: 16px;
}

.banner-bottom {
  color: var(--gray-granite-color);
  background-color: var(--light-purple-color);
  padding: 12px 24px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.banner-bottom > p {
  margin: 0;
}

.empty-state-illo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  font-weight: 500;
  color: var(--gray-smoke-color);
}

.empty-state-illo > img {
  margin-bottom: 32px;
}

/* ==========================================================================
   Buttons
   ========================================================================== */

a.button {
  color: var(--blue-jay-color);
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  background: var(--secondary-button-background-color);
  border: 1px solid;
  border-color: var(--secondary-button-border-color);
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  padding: 9px 16px;
  cursor: pointer;
  text-decoration: none;
  transition: all 150ms;

  &:hover {
    background-color: var(--white-color);
    border-color: var(--blue-jay-color);
    color: var(--dark-blue-jay-color);
  }
}

a.button-small {
  line-height: 15px;
  padding: 7px 16px;
  height: 32px;
}

a.button-primary {
  background-color: var(--blue-jay-color);
  border-color: transparent;
  color: var(--white-color);

  &:hover {
    background-color: var(--dark-blue-jay-color);
    color: var(--white-color);
  }
}

a.button-primary-outline {
  border-color: var(--light-blue-jay-color);
  color: var(--blue-jay-color);

  &:hover {
    border-color: var(--blue-jay-color);
    color: var(--dark-blue-jay-color);
  }
}

.search-icon {
  display: inline-block;
  position: relative;
  margin-right: 8px;
  background: var(--app-background);
  height: 32px;
  width: 32px;
  border-radius: 32px;
  color: var(--tab-item-color);
  fill: var(--tab-item-color);
}

.search-icon > a > svg {
  position: relative;
  width: 24px;
  height: 24px;
  left: 4px;
  top: 2px;
  fill: var(--tab-item-color);
}

form.search-form {
  width: 220px;
  margin-right: 8px;
}



/* ==========================================================================
   Theme switcher
   ========================================================================== */

.theme-switch {
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-bottom: 0;
  width: 100%;
  height: 100%;
}

.theme-switch input {
  display: none;
}

.theme-switch > div {
  font-weight: 500;
}

.theme-switch > div {
}




/* ==========================================================================
   Profile menu
   ========================================================================== */

.profile-container {
  width: 100%;
  cursor: pointer;
  align-items: center;
}

.profile-avatar {
  order: 2;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-image: url('../images/avatar.jpg');
  background-size: contain;
  display: flex;
  cursor: pointer;
  box-shadow: inset 0 0 1px rgba(0,0,0,0.5);
}

.profile-avatar-24 {
  height: 24px;
  width: 24px;
  margin-right: 8px;
  position: relative;
  top: 3px;
}


/* ==========================================================================
   Mobile bottom nav
   ========================================================================== */

.mobile-bottom-nav {
	 display: none;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: ""; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 1160px) {
  .nav-top,
  .nav-bottom,
  .header-right > .buttons,
  .nav-bar,
  .nav-right > .button-primary,
  .page-header,
  form.search-form {
    display: none;
  }

  #header {
    width: 100%;
    height: 48px;
    padding: 0 24px;
    z-index: 100;
    justify-content: space-between;
    box-shadow: none;
    z-index: 200;
  }

  .nav-right {
    flex-grow: 0;
    width: 33.333%;
  }

  .nav-logo {
    margin-top: -8px;
    flex-grow: 0;
    width: 33.333%;
  }

  .content-sidebar-300 {
   margin-left: 32px;
  }

  .nav-right > a.button {
    margin-right: 16px;
  }

  span.search-icon {
    left: 0;
    margin-right: 16px;
  }

  .mobile-nav-title {
    display: flex;
    align-self: center;
    flex-direction: row;

    & h4 {
      margin: 0;
      font-size: 20px;
    }
  }

  .main-container {
    width: 100%;
    padding: 0 24px;
    margin-top: 104px;
  }
  .content-body {
    max-width: 100%;
    width: 100%;
  }
  .card {
    width: 100%;
  }
  .header-left > h2 {
    font-size: 24px;
  }
  .logo {
    width: 75px;
    height: 16px;
  }

  a.mobile-bottom-nav__item-content {
    color: var(--gray-slate-color);
  }

  .mobile-bottom-nav__item--active > a {
    color: var(--blue-jay-color);
  }

  .mobile-bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: calc(56px + env(safe-area-inset-bottom));

    //give nav it's own compsite layer
    will-change: transform;
    transform: translateZ(0);

    display: flex;

    box-shadow: 0 -2px 8px rgba(0,0,0,0.2);
    background-color: var(--header-background-color);

    &__item {
     flex-grow: 1;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 56px;
    }
    &__item--active > a {
     color: var(--blue-jay-color);
    }
    &__item--active > a > svg {
     fill: var(--blue-jay-color);
    }
    &__item-content {
     display: flex;
     flex-direction: row;
    }
    &__item-content > svg {
     fill: var(--mobile-nav-icon-color);
    }
  }

  .mobile-bottom-nav-label {
    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
    margin-left: 8px;
  }

  .mobile-bottom-nav__item-content {
     border-radius: 100px;
     height: 32px;
     padding: 4px 12px;
     align-items: center;
     justify-content: center;
   }

  .mobile-bottom-nav__item--active > .mobile-bottom-nav__item-content {
    background-color: var(--nav-selected-background);
  }

  .fab-create-button {
    display: flex;
    position: absolute;
    bottom: calc(72px + env(safe-area-inset-bottom));
    right: 16px;
    width: 56px;
    height: 56px;
    border-radius: 64px;
    fill: var(--app-background);
    background: var(--blue-jay-color);
    box-shadow: 0 1px 12px 1px rgba(0,0,0,0.4);

    & svg {
      height: 24px;
      width: 24px;
      align-self: center;
      flex: auto;
    }
  }

  .tabs {
    background: var(--header-background-color);
    width: 100%;
    position: fixed;
    left: 0;
    top: 48px;
    display: flex;
    padding: 0 24px;
    border-bottom: none;
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.08);
    flex-direction: row;
    justify-content: space-around;
    z-index: 100;
  }
  .tabs > .tab-item {
    margin-right: 0;
    flex: auto;
    justify-content: space-around;
    width: 33.33333333333333%;
  }
}


@media screen and (max-width: 768px) {

  .content-sidebar-300,
  .mobile-bottom-nav-label {
    display: none;
  }

  .content-sidebar-160 {
    display: inline-block;
    margin: 8px 0 0 32px;
    width: 160px;
  }

}


@media screen and (max-width: 600px) {

  .page-header,
  .logo,
  .mobile-bottom-nav-label,
  .content-sidebar-160,
  .nav-logo {
    display: none;
  }

  #header,
  .tabs,
  .main-container {
    padding: 0 16px;
  }

  .nav-right {
    width: 65%;
  }

  a.button-small {
    height: 28px;
    padding: 5px 12px;
  }

  .tabs > .tab-item {
    font-size: 13px;
    line-height: 17px;
  }

  .card-title > h4 {
    font-size: 20px;
  }

  .mobile-nav-title > h4 {
    font-size: 18px;
  }

  .profile-avatar {
    width: 24px;
    height: 24px;
  }
  .mobile-logo {
    display: block;
    width: 22px;
    height: 20px;

    & svg {
      fill: var(--blue-jay-color);
    }
  }

}
