/*
    Nav Tree
*/

#tree-nav-container {
    padding-left: 0px; /* Make room for the open/close pseudo element icons */
    overflow-y: auto;
    background-size: 100% 40px, 100% 40px, 100% 10px, 100% 10px;

  	/* Opera doesn't support this in the shorthand */
  	background-attachment: local, local, scroll, scroll;
}

.nav-tree-invisible {
    display: none; /* Used for semantic value only */
}

/* Give pointers to <a>'s without hrefs to support submenus */
#tree-nav-container ul.o-list-ui a {
    cursor: pointer;
}

#tree-nav-container ul.o-list-ui li > ul {
    max-height: 0;
    transition: max-height 0.4s cubic-bezier(0,1,.59,1);
    overflow: hidden;
    list-style-type: none;
}

#tree-nav-container ul.o-list-ui li.nav-tree-node > ul {
  margin-left: -16px;
}

#tree-nav-container ul.o-list-ui li.nav-tree-node-is-open > ul {
    transition: max-height 0.4s linear;
    max-height: 40em;
}

/*Expand the clickable area to include the arrow */
#tree-nav-container .nav-tree-node > a {
    position: relative;
    padding-left: 15px; /* 20px for the expanded clickable area, and 5 for the old padding */
    left: -10px;
}

#tree-nav-container .nav-tree-node {
    position: relative;
}

#tree-nav-container .nav-tree-node:before{
    content:'';
    position: absolute;
    width: 5px;
    height: 5px;
    border-bottom: 2px solid $gray-6;
    border-right: 2px solid $gray-6;
    top: 8px;
    left: -20px;
    /*transform*/
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg);

    /*transition*/
    -webkit-transition:-webkit-transform  0.2s;
    -moz-transition:-moz-transform  0.2s;
    -o-transition:-o-transform  0.2s;
    transition:transform  0.2s;
}

#tree-nav-container .nav-tree-node.nav-tree-node-is-open:before{
    /*transform*/
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}

.nav-tree-node > ul > li {
  padding: 3px 0 3px 0;
}

.o-list-ui > li > a,
.nav-tree-node > a,
.nav-tree-node > ul > li > a {
    color: $gray-7;
}

.o-list-ui > .nav-tree-node-active > a,
.nav-tree-node > ul > .nav-tree-node-active > a {
    color: $navy;
    font-weight: 700;
}

.o-list-ui.tree-nav > li {
    margin-bottom: 8px;
}

.o-list-ui.tree-nav > li:first-child {
    margin-left: 5px;
}
