


.dropdown-menu {
  padding: 8px 0;
  font-size: 14px;
  visibility: hidden;
  background: var(--sidebar-background-color)
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 11px 0;
  overflow: hidden;
  background-color: var(--gray-stone-color);
}
.dropdown-menu > li > a {
  padding: 8px 24px;
  clear: both;
  line-height: 1.42857143;
  color: var(--gray-granite-color);
  font-weight: 500;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: var(--blue-jay-color);
  background-color: var(--light-blue-jay-color);
}

.dropup .dropdown-menu {
  margin-bottom: 4px;
  right: 0;
}

.open > .dropdown-menu {
  visibility: visible;
}


@media (min-width: 768px) {

  .modal-dialog {
      width: 600px;
      margin: 30vh auto;
  }
}
