/* Typography */

.type-heading-1 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.type-heading-2 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}

.type-heading-3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.type-heading-4 {
  font-size: 13px;
  line-height: 20px;
  font-weight: 600;
}
