


/* Colors  -------------------*/

$white: #ffffff;

$gray-chalk: #F8FAFC;
$gray-stone: #E6EAEF;
$gray-smoke: #A2ABB4;
$gray-slate: #697482;
$gray-granite: #141719;
$gray-black: #000000;

$night-chalk: #F8FAFC;
$night-stone: #86909D;
$night-smoke: #444D55;
$night-slate: #22272B;
$night-granite: #141719;

$light-blue-jay: rgba(64,112,208,0.2);
$blue-jay: rgba(64,112,208,1);
$night-blue-jay: #6479D8;
$dark-blue-jay: #2B58B0;

$light-teal: #DEF7F7;
$teal: #3CCFCF;
$dark-teal: #1D7777;

$orange: #F08700;

$light-green: #D4F7E6;
$green: #23B26D;
$dark-green: #19804E;

$light-coral: #FFE0DB;
$coral: #FF725B;
$dark-coral: #DB1F00;

$light-yellow: #FFF0BD;
$yellow: #FFCD1F;
$dark-yellow: #CC9E00;

$light-purple: #EEE1FA;
$dark-purple: #8327D8;

$deep-purple: #363E63;


:root {
  --margin: 8px;
  --white-color: $white;
  --gray-chalk-color: $gray-chalk;
  --gray-stone-color: $gray-stone;
  --gray-smoke-color: $gray-smoke;
  --gray-slate-color: $gray-slate;
  --gray-granite-color: $gray-granite;
  --gray-black-color: $gray-black;
  --blue-jay-color: $blue-jay;
  --card-background-color: $white;
  --sidebar-background-color: $white;
  --tab-item-color: $gray-slate;
  --sidebar-border: $gray-stone;
  --card-meta-data: $gray-smoke;
}

[data-theme="dark"] {
  --white-color: $white;
  --gray-chalk-color: $night-granite;
  --gray-stone-color: $night-slate;
  --gray-smoke-color: $night-smoke;
  --gray-slate-color: $night-stone;
  --gray-granite-color: $gray-chalk;
  --gray-black-color: $gray-black;
  --blue-jay-color: $night-blue-jay;
  --card-background-color: $night-slate;
  --sidebar-background-color: $night-slate;
  --tab-item-color: $night-stone;
  --sidebar-border: $night-granite;
  --card-meta-data: $night-stone;
}



/* Fonts  -------------------*/

@font-face {
    font-family: 'Hurme Sans 2';
    src: url('../fonts/hurmegeometricsans_no2_4_regular-webfont.woff2') format('woff2'),
        url('../fonts/hurmegeometricsans_no2_4_regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Hurme Sans 2';
    src: url('../fonts/hurmegeometricsans_no2_5_semibold-webfont.woff2') format('woff2'),
        url('../fonts/hurmegeometricsans_no2_5_semibold-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Hurme Sans 2';
    src: url('../fonts/hurmegeometricsans_no2_6_bold-webfont.woff2') format('woff2'),
        url('../fonts/hurmegeometricsans_no2_6_bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
