---
layout: default
section: Components
title: Cards
previous: Buttons
previous-path: components/buttons
next: Dialogs
next-path: components/dialogs
---

<h1>{{ page.title }}</h1>

<p>Intro text</p>

<h2>Button types</h2>
<table class="table avatar-table">
  <thead>
    <tr>
      <th width="160">Button</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align="center">
        <button type="button" name="button" class="btn btn-primary">Primary button</button>
      </td>
      <td>To call attention to an action on a <a href="#">form</a>, or highlight the strongest call to action on a page. Primary buttons should only appear once per screen (not including the application header or in a <a href="#">modal dialog</a>). Keep in mind that not every screen needs a primary button.</td>
    </tr>
    <tr>
      <td align="center">
        <button type="button" name="button" class="btn">Secondary button</button>
      </td>
      <td>The secondary button for most use cases.</td>
    </tr>
    <tr>
      <td align="center">
        <button type="button" name="button" class="btn btn-link">Link button</button>
      </td>
      <td>Use links for secondary actions, destructive actions such as "Cancel", or to discourage usage. Links should open in the current window unless the user may lose information, e.g. when filling out a form or the destination is an external site.</td>
    </tr>
    <tr>
      <td align="center"></td>
      <td>Trigger menus with a set of related actions. See <a href="#">drop menu</a>.</td>
    </tr>
  </tbody>
</table>

{% include pagination-links.html %}
