<!DOCTYPE html>
<html>

    {% include head.html %}

<body>

    <app>
      <div id="sidebar">
        <div id="nav-top">
          <a href="{{ site.baseurl }}">
            <img src="{{ site.baseurl }}images/logo/logo.png" class="logo">
          </a>
          <ul class="main-nav">
            <li class="nav-item home {% if page.title == 'Home' %}nav-active{% endif %}"><a href="{{ site.baseurl }}" class="nav-node">Home</a></li>
            <li class="nav-item browse {% if page.title == 'Browse' %}nav-active{% endif %}"><a href="{{ site.baseurl }}">Browse</a></li>
            <li class="nav-item create {% if page.title == 'Create' %}nav-active{% endif %}"><a href="{{ site.baseurl }}">Create</a></li>
          </ul>
        </div>
      </div>

      <div id="main">
        {{ content }}
      </div>
    </app>

    {% include footer.html %}

</body>

</html>
